.chat-side
  .side-header
    .side-header__box
      %p.side-header__boxuser-name 
        masa
      %ul.side-header__box__menu
        =link_to "＃", class: "side-header__box__menu" do
          %i.fa.fa-edit
        = link_to "#", class: "side-header__box__menu" do
          %i.fa.fa-cog
  .groups
    =link_to "#", class: "group" do
      .group
        %p.group__group-name a
        %p.group__latest-message 
          まだメッセージがありません

 
  
